:root {
    --gray: #121212;
    --black: #000;
    --white: #fff;
    --light-gray: #232323;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}


.sidebar {
    width: 32%;
    border-radius: 1rem;
    background-color: var(--black);
    margin-right: 0.5rem;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.main-content {
    flex: 1;
    border-radius: 1rem;
    background-color: var(--gray);
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: var(--black);
}

a {
    text-decoration: none;
    color: var(--white);
}

.nav {
    background-color: var(--gray);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding: 0.5rem 0.75rem;
    width: 100vw;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    line-height: 2.5rem;
    opacity: 1;
}

.nav-option i {
    font-size: 1.5rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: var(--gray);
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
    cursor: pointer;
}

.box {
    height: 8rem;
    background-color: var(--light-gray);
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    background-color: var(--white);
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    opacity: 0.9;
}

.dark-badge {
    background-color: var(--black);
    color: var(--white);
}

.badge:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.02);
}


.sticky-nav {
    position: sticky;
    top: 0;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons {
    margin-left: 0.75rem;
}

.search {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 6px 12px;
    width: 350px;
    max-width: 100%;
    margin-right: 15px;
}

.search i {
    color: #555;
    margin-right: 8px;
}

.search input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

.nav-icon {
    opacity: 0.9;
}

.nav-icon:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.04);
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}




.card {
    background-color: var(--light-gray);
    width: 160px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;

}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
    width: 160px;
    display: -webkit-box;

    overflow: hidden;
}

.main-content h2 {
    padding-left: 1rem;
}

.card-info {
    font-size: 0.8rem;
    opacity: 0.8;
}

.card:hover {
    cursor: pointer;
    background-color: #343434;
}


.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 96%;
    height: 40%;
    border-top: 1px solid white;
    opacity: 0.3;
}


.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0 0.4rem 0;
}

.album {
    width: 25%;
}

.player {
    width: 50%;
}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.75;
    font-size: x-large;
    line-height: 18px;
}

.player-control-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.play-button {
    opacity: 1;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.play-button:hover {
    transform: scale(1.1);
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem 0.5rem;
}

.playback-bar span {
    font-size: 0.75rem;
    opacity: 0.75;
}

.progress-bar::-webkit-slider-runnable-track {
    border-top: 3px solid #ddd;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -9px;
}


.album {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.5rem;
}

.album-image {
    height: 60px;
    width: 60px;
    border-radius: 10%;
    margin: 0.5rem;

}

.album-details {
    display: flex;
    flex-direction: column;
    margin-inline: 0.5rem;
}

.album-icon {
    width: 1.5em;
    opacity: 0.75;
    margin-left: 2rem;
}

.album-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.album-title {
    font-weight: 500;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

.album-info {
    font-size: 0.65rem;
    opacity: 0.75;
}

.album-hover:hover {
    text-decoration: underline;
    opacity: 1;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.controls-icons {
    height: 2rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    opacity: 0.8;
}

.volume-bar {
    width: 21%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem 0.5rem;
}

.volume-bar::-webkit-slider-runnable-track {

    border-top: 3px solid #ddd;
    height: 0.2rem;
}

.volume-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -9px;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }

    .player {
        width: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}


.sidebar {
    width: 32%;
    border-radius: 1rem;
    background-color: var(--black);
    margin-right: 0.5rem;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.main-content {
    flex: 1;
    border-radius: 1rem;
    background-color: var(--gray);
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: var(--black);
}

a {
    text-decoration: none;
    color: var(--white);
}

.nav {
    background-color: var(--gray);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding: 0.5rem 0.75rem;
    width: 100vw;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    line-height: 2.5rem;
    opacity: 1;
}

.nav-option i {
    font-size: 1.5rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: var(--gray);
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
    cursor: pointer;
}

.box {
    height: 8rem;
    background-color: var(--light-gray);
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    background-color: var(--white);
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    opacity: 0.9;
}

.dark-badge {
    background-color: var(--black);
    color: var(--white);
}

.badge:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.02);
}


.sticky-nav {
    position: sticky;
    top: 0;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons {
    margin-left: 0.75rem;
}

.search {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 6px 12px;
    width: 350px;
    max-width: 100%;
    margin-right: 15px;
}

.search i {
    color: #555;
    margin-right: 8px;
}

.search input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

.nav-icon {
    opacity: 0.9;
}

.nav-icon:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.04);
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}




.card {
    background-color: var(--light-gray);
    width: 160px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;

}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
    width: 160px;
    display: -webkit-box;

    overflow: hidden;
}

.main-content h2 {
    padding-left: 1rem;
}

.card-info {
    font-size: 0.8rem;
    opacity: 0.8;
}

.card:hover {
    cursor: pointer;
    background-color: #343434;
}


.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 96%;
    height: 40%;
    border-top: 1px solid white;
    opacity: 0.3;
}


.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0 0.4rem 0;
}

.album {
    width: 25%;
}

.player {
    width: 50%;
}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.75;
    font-size: x-large;
    line-height: 18px;
}

.player-control-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.play-button {
    opacity: 1;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.play-button:hover {
    transform: scale(1.1);
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem 0.5rem;
}

.playback-bar span {
    font-size: 0.75rem;
    opacity: 0.75;
}

.progress-bar::-webkit-slider-runnable-track {
    border-top: 3px solid #ddd;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -9px;
}


.album {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.5rem;
}

.album-image {
    height: 60px;
    width: 60px;
    border-radius: 10%;
    margin: 0.5rem;

}

.album-details {
    display: flex;
    flex-direction: column;
    margin-inline: 0.5rem;
}

.album-icon {
    width: 1.5em;
    opacity: 0.75;
    margin-left: 2rem;
}

.album-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.album-title {
    font-weight: 500;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

.album-info {
    font-size: 0.65rem;
    opacity: 0.75;
}

.album-hover:hover {
    text-decoration: underline;
    opacity: 1;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.controls-icons {
    height: 2rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    opacity: 0.8;
}

.volume-bar {
    width: 21%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem 0.5rem;
}

.volume-bar::-webkit-slider-runnable-track {
    border-top: 3px solid #ddd;
    height: 0.2rem;
}

.volume-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -9px;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }

    .player {
        width: 100%;
    }


}

.lib-box {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 5px;
    font-family: Arial, sans-serif;
}


.library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    color: #b3b3b3;
    font-size: 14px;
}

.library-header i {
    cursor: pointer;
}

.sort-options {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}


#playlistName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#playlistName i {
    font-size: larger;
    cursor: pointer;
    margin-left: 20px;
}

.playlists {
    margin-top: 10px;
}

.playlist-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.2s;
}

.playlist-item img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    object-fit: cover;
}

.playlist-info h4 {
    margin: 0;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.playlist-info p {
    margin: 2px 0 0;
    font-size: 12px;
    color: #b3b3b3;
}

.playlist-item:hover {
    background: #282828;
}

.library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    color: #b3b3b3;
    font-size: 14px;
}


.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 10px;
    color: #b3b3b3;
    cursor: pointer;
    z-index: 9;
}

.search-input {
    width: 0;
    opacity: 0;
    padding: 6px 6px 6px 30px;

    border-radius: 6px;
    border: none;
    background: #282828;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
}

.search-container.active .search-input {
    width: 200px;
    opacity: 1;
}


.search-input::placeholder {
    color: #b3b3b3;
}


.sort-options {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}






.hiden {
    display: none;
}

.playlist-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.playlist-cover {
    width: 180px;
    height: 180px;
    background: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #b3b3b3;
}

.playlist-details h1 {
    font-size: 3rem;
    margin: 5px 0;
}

.playlist-details p {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #b3b3b3;
}

.playlist-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 1.2rem;
}

.recommended h2 {
    margin: 10px 0 5px;
}

.song-list {
    list-style: none;
    padding: 0;
}

.song-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #333;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.song-info img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.song-info div h4,
.song-info div p {
    margin: 0;
}


.addBtn,
.removeBtn {
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.addBtn {
    background: #1db954;
}

.addBtn:hover {
    background: #1ed760;
}

.removeBtn {
    background: #ff4b4b;
}



.close-btn {
    width: 100%;
    place-items: end;
    display: grid;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    color: #b3b3b3;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: white;
}

.playlist-songs {
    margin: 20px 0;
}

.playlist-songs h2 {
    margin-bottom: 10px;
}


.song-headers {
    display: none;
}

.song-row {
    display: grid;
    grid-template-columns: 40px 1fr auto;
    align-items: center;
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid #333;
    gap: 10px;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.song-info img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    object-fit: cover;
}

.song-info h4 {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95px;
}

.song-info p {
    font-size: 13px;
    color: #bbb;
}


.song-row span:nth-of-type(3),
.song-row span:nth-of-type(4) {
    display: none;
}


.song-row button {
    justify-self: end;
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 0;
    cursor: pointer;
}

.song-row button::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1f8";
    font-size: 18px;
}


@media (min-width: 600px) {
    .song-headers {
        display: grid;
        grid-template-columns: 40px 2fr 1fr 80px auto;
        align-items: center;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #333;
        font-weight: bold;
        color: #aaa;
        text-transform: uppercase;
        font-size: 12px;
    }

    .song-row {
        grid-template-columns: 40px 2fr 1fr 80px auto;
    }


    .song-row span:nth-of-type(3),
    .song-row span:nth-of-type(4) {
        display: inline;
        text-align: center;
    }


    .song-row button::after {
        font-size: 16px;
    }
}


@media (min-width: 900px) {
    .song-headers {
        grid-template-columns: 0px 5fr 1fr 310px 111px;
        font-size: 13px;
    }

    .song-row {
        grid-template-columns: 60px 2fr 1fr 120px 100px;
    }


    .song-row button {
        font-size: 14px;
        background: #e74c3c;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
    }

    .song-row button::after {
        content: "";
    }
}

.sort-options {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}

.sort-options i {
    font-size: 12px;
    opacity: 0.7;
    transition: transform 0.2s;
}

.sort-options:hover i {
    transform: rotate(90deg);
}

.player {
    width: 100%;
}



@media (max-width: 1000px) {
    .sidebar {
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        z-index: 20;
        transition: left 0.3s ease;
        width: 250px;
        overflow-y: auto;
    }

    .sidebar.show {
        left: 0;
    }

    .main-content {
        flex: 1;
        padding: 1rem;
    }

    .hamberger {
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 1001px) {
    .hamberger {
        display: none;
    }
}





@media (max-width: 700px) {
    .search {
        width: 100%;
        margin-right: 0;
        padding: 6px 10px;
    }

    .sticky-nav {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
}


.search-results-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(18, 18, 18, 0.95);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.search-results-content {
    background: #181818;
    padding: 2rem;
    border-radius: 16px;
    max-width: 500px;
    width: 95vw;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    color: #fff;
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
}

.close-search-results {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 2rem;
    cursor: pointer;
}

#search-results-list .card {
    margin-bottom: 1rem;
    cursor: pointer;
    background: #232323;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background 0.2s;
    width: 70%;
}

#search-results-list .card:hover {
    background: #282828;
}

#search-results-list .card-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1rem;
}

#search-results-list .card-title {
    font-weight: 600;
    font-size: 1rem;
}

#search-results-list .card-info {
    font-size: 0.95rem;
    color: #a7a7a7;
}

@media (max-width: 600px) {
    .search-results-content {
        padding: 1rem;
        max-width: 98vw;
        border-radius: 10px;
    }

    #search-results-list .card-img {
        width: 40px;
        height: 40px;
        margin-right: 0.7rem;
    }

    #search-results-list .card-title {
        font-size: 0.95rem;
    }

    #search-results-list .card-info {
        font-size: 0.85rem;
    }
}
